#friends-display-link {
  text-align: center;
  display: block;
  width: 100%;
  background-color: #fafafa;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 500;
  margin: -15px 0 15px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
  margin-left: 10px;
}

.main-screen__channel {
  margin-top: 25px;
  border-top: var(--border);
  padding-top: 15px;
}

.main-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--gray-text);
}
