.status-bar {
  display: flex;
  justify-content: center;
  padding: 5px 3px;
}

.status-bar__column {
  width: 33%;
}

.status-bar__column:first-child > span {
  margin-right: 5px;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
/* 중간 요소에 justify-content:center를 줌으로써 자신이 할당받은 width에 중앙에 오게됨. 즉, 100/3=33%의 width의 가운데에 위치하기 때문에 화면 정중앙에 위치하게 된다. */

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column .fa-battery-full {
  margin: 0 5px;
}
